name: task runner

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt -f https://download.pytorch.org/whl/torch_stable.html; fi
    # - name: Run the facebook task
    #   run: |
    #     python transformers_facebook_playground.py
    # - name: Run the sshleifer task
    #   run: |
    #     python transformers_sshleifer_playground.py
    # - name: Run the t5base task
    #   run: |
    #     python transformers_t5base_playground.py
    - name: Run the overall task
      run: |
        python task.py